.container {
  .mainProfile {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    padding: 50px 20px 50px 0px;
    aside {
      width: 30%;
      .profileSidebar {
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
        .sidebarUp {
          display: flex;
          flex-direction: column;
          row-gap: 0.1em;
          align-items: center;
          img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
          }
          p {
          }
        }
        .sidebarDown {
          ul {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;
            align-items: center;
            li.active {
              color: white;
              background-color: rgb(27, 27, 82);
              padding: 8px 30px;
            }
          }
        }
      }
    }
    main {
      width: 70%;
      display: flex;
      flex-direction: column;
      .mainHead {
        h3 {
          padding: 20px 10px 10px 40px;
          border-bottom: 1px solid #000;
        }
      }
      .mainContent {
        padding: 20px 10px 10px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 2em;

        .profileInputs {
          display: flex;
          flex-direction: column;
          row-gap: 1.5em;
          width: 70%;
          input {
            padding: 8px 20px;
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            outline: none;
            font-weight: 600;
            letter-spacing: 0.7px;
            width: 100%;
          }
        }
        .profileButton {
          button {
            color: white;
            background-color: #006fff;
            font-size: 1em;
            font-weight: 600;
            padding: 10px 50px;
            letter-spacing: 0.8px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
      .mainProfile {
          max-width: 800px;
          margin: 0 auto;
          display: flex;
          background-color: white;
          flex-direction: column;
          padding: 20px 16px 0 16px;
      aside {
        width: 100%;
        border-bottom: 1px solid #000;
        padding-bottom: 1em;
        .profileSidebar {
          display: flex;
          flex-direction: column;
          row-gap: 1.5em;
          align-items: initial;
          justify-content: center;
          border-right: 0px solid black;
          .sidebarUp {
            display: flex;
            flex-direction: column;
            row-gap: 0.1em;
            align-items: center;
            img {
              width: 130px;
              height: 130px;
              border-radius: 50%;
            }
          }
          .sidebarDown {
            ul {
              display: flex;
              flex-direction: column;
              row-gap: 0.6rem;
              align-items: initial;
              li{
                  padding: 8px 10px;
              }
              li.active {
                color: white;
                background-color: rgb(27, 27, 82);
                padding: 8px 10px;
              }
            }
          }
        }
      }
      main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .mainHead {
          h3 {
            padding: 20px 10px 10px 40px;
            border-bottom: 0px solid #000;
          }
        }
        .mainContent {
          padding: 20px 10px 10px 40px;
          display: flex;
          flex-direction: column;
          row-gap: 2em;

          .profileInputs {
            display: flex;
            flex-direction: column;
            row-gap: 1.5em;
            width: 100%;
            input {
              padding: 8px 20px;
              border-radius: 5px;
              border: 2px solid rgba(0, 0, 0, 0.2);
              outline: none;
              font-weight: 600;
              letter-spacing: 0.7px;
              width: 100%;
            }
          }
          .profileButton {
            button {
              color: white;
              background-color: #006fff;
              font-size: 1em;
              font-weight: 600;
              padding: 10px 50px;
              letter-spacing: 0.8px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
