
.mainCourseContent {
  background-color: gainsboro;
  .breadCrums {
    display: flex;
    align-items: center;
    height: auto;
    span {
      display: flex;
      justify-content: start;
      a{
        margin: 16px 0;
      }
    }
  }
}
.course {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  .courseHeading {
    // height: 50px;
    height: auto;
    .courseHead {
      overflow: hidden;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 1px;
      margin-block-start: 0;
      color: black;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: black;
      span {
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
      }
    }

    .courseHead:before {
      background-color: #000;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 17.5%;
    }

    .courseHead:before {
      right: 0.5em;
      margin-left: 0%;
    }
    .teacherName {
      line-height: 0px;
      margin-block-start: 0;
      margin-top: 16px;
    }
    .teacherName:before {
      background-color: #000;
      content: "";
      display: inline-block;
      height: 0px;
      position: relative;
      vertical-align: middle;
      width: 17.5%;
    }

    .teacherName:before {
      right: 0.5em;
      margin-left: 0%;
    }
  }
  .courseContent {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    .upContent {
      display: flex;
      column-gap: 1.5rem;
      row-gap: 1rem;
      .upLeft {
        width: 70%;
        position: relative;
        .video {
          img {
            width: 100%;
            // height: 50vh;
          }
        }
        .videoButtons {
          position: absolute;
          display: flex;
          justify-content: space-between;
          width: 100%;
          column-gap: 1rem;
          bottom: 0;
          .buyButton {
            width: 50%;
            font-size: 20px;
            color: white;
            background-color: blue;
            font-weight: 600;
            padding: 15px 40px 15px 40px;
            border-radius: 10px;
            p{
              margin-block-start: 0;
            }
          }
          .shareButton {
            width: 50%;
            button {
              background-color: blue;
              column-gap: 1rem;
              width: 100%;
              cursor: pointer;
              // margin-right: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              color: white;
              font-weight: 600;
              border-radius: 10px;
              padding: 15px 0 15px 0;
              p {
                margin-block-start: 0em;
              }
              img {
                width: 10%;
              }
            }
          }
        }
      }
      .upRight {
        width: 30%;
        .progress {
          display: flex;
          flex-direction: column;
          row-gap: 0.6rem;
          padding: 10px 20px 10px 20px;
          overflow-y: scroll;
          background-color: rgb(0, 62, 90);
          color: white;
          height: 60vh;
          h4 {
            border-bottom: 1px solid white;
            padding: 0 0 5px 0;
          }
          .modelBorder:not(:last-child) {
            border-bottom: 1px solid white;
            padding: 0px 0px 20px 0px;
          }
          .modelBorder {
            .model1,
            .model2,
            .model3,
            .model4 {
              width: 90%;
              .modelHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                  margin-block-start: 0em;
                }
                img {
                  width: 40px;
                  height: 40px;
                }
              }
              .modelList1,
              .modelList2,
              .modelList3,
              .modelList4 {
                line-height: 1.5rem;
                .listItem {
                  display: flex;
                  justify-content: space-between;
                  p {
                    font-size: 13px;
                    letter-spacing: 0.6px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .downContent {
      display: flex;
      column-gap: 1.7rem;
      .description {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        background-color: white;
        padding: 0 20px 0 20px;
        .discHead {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #000;
          padding: 0 0 10px 0px;
          p {
            font-weight: 600;
            span {
              color: yellowgreen;
            }
          }
        }
        .discContent {
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
          p {
            font-size: 15px;
            font-weight: 500;
            line-height: 2rem;
          }
          .courseBy {
            display: flex;
            column-gap: 1rem;
            .img {
              width: 20%;
              img {
                border-radius: 50%;
                width: 100%;
              }
            }
            .text {
              p {
                line-height: 1rem;
              }
            }
          }
        }
      }
      .review {
        width: 30%;
        height: 100vh;
        background-color: white;
      }
    }
    .buyButtonGloble {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .mainCourseContent {
    background-color: gainsboro;
    .breadCrums {
    display: none;
    }
  }
  .course {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .courseHeading {
      // height: 50px;
      .courseHead {
        overflow: hidden;
        font-size: 5vw;
        font-weight: 900;
        text-align: center;
        letter-spacing: 1px;
        margin-block-start: 0;
        color: black;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        span {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1.5px;
          -webkit-text-stroke-color: black;
        }
      }

      .courseHead:before,
      .courseHead:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 12vw;
      }

      .courseHead:before {
        right: 0.5em;
        margin-left: 0%;
      }
      .courseHead:after {
        left: 0.5em;
        margin-right: 0%;
      }

      .teacherName {
        line-height: 0px;
        // margin-block-start: 0em;
        font-size: 4vw;
      }
      .teacherName:before {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 0px;
        position: relative;
        vertical-align: middle;
        width: 14vw;
      }

      .teacherName:before {
        right: 0.5em;
        margin-left: 0%;
      }
    }
    .courseContent {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      .upContent {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        .upLeft {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
          row-gap: 0.7rem;
          .video {
            img {
              width: 100%;
              // height: 50vh;
            }
          }
          .videoButtons {
            padding: 0 16px;
            position: initial;
            display: flex;
            justify-content: space-between;
            width: 100%;
            column-gap: 1rem;
            bottom: 0;
            .buyButton {
              width: 70%;
              font-size: 16px;
              color: white;
              background-color: blue;
              font-weight: 600;
              padding: 5px 10px 5px 10px;
              border-radius: 10px;
              p {
                margin-block-start: 0;
              }
            }
            .shareButton {
              width: 30%;
              button {
                
                background-color: rgb(17, 254, 140);
                column-gap: 1rem;
                width: 100%;
                cursor: pointer;
                // margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: white;
                font-weight: 600;
                border-radius: 10px;
                padding: 15px 0 15px 0;
                p {
                  margin-block-start: 0em;
                  display: none;
                }
                img {
                  width: 30%;
                }
              }
            }
          }
        }
        .upRight {
          width: 100%;
          .progress {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
            padding: 10px 20px 10px 20px;
            overflow-y: scroll;
            background-color: rgb(0, 62, 90);
            color: white;
            height: 60vh;
            h4 {
              border-bottom: 1px solid white;
              padding: 0 0 5px 0;
            }
            .modelBorder:not(:last-child) {
              border-bottom: 1px solid white;
              padding: 0px 0px 20px 0px;
            }
            .modelBorder {
              .model1,
              .model2,
              .model3,
              .model4 {
                width: 90%;
                .modelHeader {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  p {
                    margin-block-start: 0em;
                  }
                  img {
                    width: 40px;
                    height: 40px;
                  }
                }
                .modelList1,
                .modelList2,
                .modelList3,
                .modelList4 {
                  line-height: 1.5rem;
                  .listItem {
                    display: flex;
                    justify-content: space-between;
                    p {
                      font-size: 13px;
                      letter-spacing: 0.6px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .downContent {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        .description {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 1.5rem;
          background-color: white;
          padding: 0 16px 16px 16px;
          .discHead {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            padding: 0 0 10px 0px;
            p {
              font-weight: 600;
              span {
                color: yellowgreen;
              }
            }
          }
          .discContent {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            p {
              font-size: 15px;
              font-weight: 500;
              line-height: 2rem;
            }
            .courseBy {
              display: flex;
              column-gap: 1rem;
              .img {
                width: 100px;
                img {
                  width: 100px;
                  border-radius: 50px;
                  height: 100px;
                  width: 100%;
                }
              }
              .text {
                p {
                  line-height: 1rem;
                }
              }
            }
          }
        }
        .review {
          width: 100%;
          height: 10vh;
          background-color: white;
        }
      }
      .buyButtonGloble {
        display: inline;
        width: 80%;
        margin: 0px auto 16px auto;
        font-size: 16px;
        color: white;
        background-color: blue;
        font-weight: 600;
        padding: 20px 40px 20px 40px;
        border-radius: 10px;
        p {
          margin-block-start: 0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .mainCourseContent {
    background-color: gainsboro;
    .breadCrums {
     display: none;
    }
  }
  .course {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .courseHeading {
      // height: 50px;
      margin-top: 2em;
      .courseHead {
        overflow: hidden;
        font-size: 5vw;
        font-weight: 900;
        text-align: center;
        letter-spacing: 1px;
        margin-block-start: 0;
        color: black;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        span {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1.5px;
          -webkit-text-stroke-color: black;
        }
      }

      .courseHead:before,
      .courseHead:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 11vw;
      }

      .courseHead:before {
        right: 0.5em;
        margin-left: 0%;
      }
      .courseHead:after {
        left: 0.5em;
        margin-right: 0%;
      }

      .teacherName {
        line-height: 0px;
        // margin-block-start: 0em;
        font-size: 3vw;
      }
      .teacherName:before {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 0px;
        position: relative;
        vertical-align: middle;
        width: 14vw;
      }

      .teacherName:before {
        right: 0.5em;
        margin-left: 0%;
      }
    }
    .courseContent {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      .upContent {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        .upLeft {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
          row-gap: 0.7rem;
          .video {
            img {
              width: 100%;
              // height: 50vh;
            }
          }
          .videoButtons {
            padding: 0 16px;
            position: initial;
            display: flex;
            justify-content: space-between;
            width: 100%;
            column-gap: 1rem;
            bottom: 0;
            .buyButton {
              width: 70%;
              font-size: 16px;
              color: white;
              background-color: blue;
              font-weight: 600;
              padding: 5px 10px 5px 10px;
              border-radius: 10px;
              p {
                margin-block-start: 0;
              }
            }
            .shareButton {
              width: 30%;
              button {
                
                background-color: rgb(17, 254, 140);
                column-gap: 1rem;
                width: 100%;
                cursor: pointer;
                // margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: white;
                font-weight: 600;
                border-radius: 10px;
                padding: 15px 0 15px 0;
                p {
                  margin-block-start: 0em;
                  display: none;
                }
                img {
                  width: 30%;
                }
              }
            }
          }
        }
        .upRight {
          width: 100%;
          .progress {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
            padding: 10px 20px 10px 20px;
            overflow-y: scroll;
            background-color: rgb(0, 62, 90);
            color: white;
            height: 60vh;
            h4 {
              border-bottom: 1px solid white;
              padding: 0 0 5px 0;
            }
            .modelBorder:not(:last-child) {
              border-bottom: 1px solid white;
              padding: 0px 0px 20px 0px;
            }
            .modelBorder {
              .model1,
              .model2,
              .model3,
              .model4 {
                width: 90%;
                .modelHeader {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  p {
                    margin-block-start: 0em;
                  }
                  img {
                    width: 40px;
                    height: 40px;
                  }
                }
                .modelList1,
                .modelList2,
                .modelList3,
                .modelList4 {
                  line-height: 1.5rem;
                  .listItem {
                    display: flex;
                    justify-content: space-between;
                    p {
                      font-size: 13px;
                      letter-spacing: 0.6px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .downContent {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        .description {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 1.5rem;
          background-color: white;
          padding: 0 16px 16px 16px;
          .discHead {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            padding: 0 0 10px 0px;
            p {
              font-weight: 600;
              span {
                color: yellowgreen;
              }
            }
          }
          .discContent {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            p {
              font-size: 15px;
              font-weight: 500;
              line-height: 2rem;
            }
            .courseBy {
              display: flex;
              column-gap: 1rem;
              .img {
                width: 100px;
                img {
                  width: 100px;
                  border-radius: 50px;
                  height: 100px;
                  width: 100%;
                }
              }
              .text {
                p {
                  line-height: 1rem;
                }
              }
            }
          }
        }
        .review {
          width: 100%;
          height: 10vh;
          background-color: white;
        }
      }
      .buyButtonGloble {
        display: inline;
        width: 80%;
        margin: 0px auto 16px auto;
        font-size: 16px;
        color: white;
        background-color: blue;
        font-weight: 600;
        padding: 20px 40px 20px 40px;
        border-radius: 10px;
        p {
          margin-block-start: 0;
        }
      }
    }
  }
}